---
layout: archive
permalink: /tags/
title: "Posts by Tags"
author_profile: true
---

{% include base_path %}
{% comment %} <!-- I added this. Join site.publications and site.posts tags --> {% endcomment %}
{% assign pubs-and-posts = site.publications | concat: site.posts %}
{% include group-by-array collection=pubs-and-posts field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
